nav {
  display: flex;
  justify-content: flex-start;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 10px;
}

.nav-link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 15px;
}

.nav-link:hover {
  color: #df6844;
  text-decoration: underline;
}
